<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <title th:text="${title}"></title>
</head>
<body>
    <nav th:fragment="navbar">
        <div class="nav-wrapper teal lighten-2">
            <div class="container">
            <a href="#" class="brand-logo">DaChopWash</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/washes">Washes</a></li>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/customers">Customers</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <footer th:fragment="footer" class="page-footer teal lighten-2">
        <div class="footer-copyright">
          <div class="container">
          © Lucius Bossio, Graham Corcoran, Eric Helferty, Daniel Lalonde
          <a class="grey-text text-lighten-4 right" href="https://github.com/LuciusBossio/daCHOPWash">GitHub</a>
          </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </footer>
</body>
</html>