<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: headerfiles('Index')"></head>

<body>
    <nav th:replace="fragments/fragments.html :: navbar"></nav>

    <main>
        <div class="container">

            <h1 class="center-align teal-text">
                Book DaWash
            </h1>

            <div class="row center-align">
                <div class="col s6">
                    <!-- <img class="responsive-img" src="/images/options.svg"> -->
                    <p>The Boring Stuff</p>
                    <form action="#" th:action="@{/washes}" th:object="${wash}">
                        <div class="input-field">
                            <input type="text" name="date" id="datepicker" class="datepicker">
                            <label for="datepicker">Choose Wash Date</label>
                        </div>
                        <div class="input-field">
                            <input type="email" name="email" id="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="name" id="name">
                            <label for="name">Full Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="address" id="address">
                            <label for="address">Address</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="city" id="city">
                            <label for="city">City</label>
                        </div>
                        <div class="input-field">
                            <select name="province" id="province">
                                <option value="" disabled hidden selected>...</option>
                                <option value="AB">Alberta</option>
                                <option value="BC">British Columbia</option>
                                <option value="MB">Manitoba</option>
                                <option value="NB">New Brunswick</option>
                                <option value="NL">Newfoundland and Labrador</option>
                                <option value="NS">Nova Scotia</option>
                                <option value="NT">Northwest Territories</option>
                                <option value="NU">Nunavut</option>
                                <option value="ON">Ontario</option>
                                <option value="PE">Prince Edward Island</option>
                                <option value="QC">Quebec</option>
                                <option value="SK">Saskatchewan</option>
                                <option value="YT">Yukon</option>
                            </select>
                            <label for="province">Province</label>
                        </div>
                </div>
                <div class="col s6">
                    <p>The Fun Stuff</p>

                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6">
                                <label>
                                    <input class="with-gap" name="washes" type="radio" value="simple" checked />
                                    <span class="amber-text text-darken-4">Da Simple Wash</span>
                                </label>
                            </div>
                            <div class="col s6">
                                <div>
                                    <ul>
                                        <li>Water</li>
                                        <li>Soap (only one color)</li>
                                        <li>30 sec. dry time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6">
                                <label>
                                    <input class="with-gap" name="washes" type="radio" value="medium" />
                                    <span class="amber-text text-darken-4">Da Medium Wash</span>
                                </label>
                            </div>
                            <div class="col s6">
                                <div>
                                    <ul>
                                        <li>Da Simple Wash +</li>
                                        <li>3 Soap colors</li>
                                        <li>Ethical Turtle wax</li>
                                        <li>1 min. dry time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6">
                                <div>
                                    <label>
                                        <input class="with-gap" name="washes" type="radio" value="crazy" />
                                        <span class="amber-text text-darken-4">Da Crazy Wash</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col s6">
                                <div>
                                    <ul>
                                        <li>Da Medium Wash</li>
                                        <li>Bourbon</li>
                                        <li>10 Soap colors</li>
                                        <li>Unethical Turtle wax</li>
                                        <li>That rain stuff</li>
                                        <li>Undercarriage stuff</li>
                                        <li>10 min. dry time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Book
                    <i class="material-icons right">send</i>
                </button>
                </form>
            </div>
        </div>

    </main>

    <footer th:replace="fragments/fragments.html :: footer"></footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendar = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(calendar, {});
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var province = document.querySelectorAll('select');
            var instances = M.FormSelect.init(province, {});
        });
    </script>
</body>


</html>