<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: headerfiles('Employees')"></head>
<body>
    <nav th:replace="fragments/fragments.html :: navbar"></nav>

    <main>
    <div class="container teal-text">
        <h1>Employees</h1>
              
        <table class="border">
            <tr>
                <th>Emp. ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Salary</th>
            </tr>
            <tr th:each="employee:${employees}">
                <td th:text=${employee.employeeId} style="width: 5rem;"></td>
                <td th:text=${employee.employeeFirstName}></td>
                <td th:text=${employee.employeeLastName}></td>
                <td th:text=${employee.employeeRole}></td>
                <td th:text=${employee.employeeStartDate}></td>
                <td th:text=${employee.employeeEndDate}></td>
                <td th:text="'$' + ${employee.employeeSalary}"></td>
                <td style="border-style: hidden;">
                    <form action="#" th:action="@{/employees}" method="POST">
                        <button class="waves-affect btn" style="background-color: red;" type="submit" name="firedEmpId" th:value="*{employee.employeeId}">Fire</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    
    <div class="container teal-text" style="max-width: 40%;">
    <h3>Add a New Employee</h3>
        <form action="#" th:action="@{/employees}" th:object="${employee}" method="GET">
            <label for="">First Name</label>
            <input type="text" name="employeeFirstName" th:field="*{employeeFirstName}"/><br>
            <label for="">Last Name</label>
            <input type="text" name="employeeLastName" th:field="*{employeeLastName}"><br>
            <label for="">Role Title</label>
            <input type="text" name="employeeRole" th:field="*{employeeRole}"><br>
            <label for="">Start Date</label>
            <input type="date" name="employeeStartDate" th:field="*{employeeStartDate}"><br>
            <label for="">Starting Salary</label>
            <input type="text" name="employeeSalary" th:field="*{employeeSalary}"><br> 
            
            <div style="text-align: center;" >
                <button class="waves-effect waves-light btn" name="submit" type="submit" value="0">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    <span>&nbsp;</span>
    </div>
    </main>
    <footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>